@import "tailwindcss";

@theme {
  --color-primary: #031636;
  --color-secondary: #FEA619;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffffff;
  color: #171717;
}